.edit-menu {
  position: absolute;
  z-index: 1;
  bottom: 0;
  background: whitesmoke;
  width: 100vw;
  height: 50vh;

  border-top-left-radius: 32px;
  border-top-right-radius: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  outline: 0.13rem solid black;
  display: none;
}

.toggle-on {
  animation: edit-menu-toggle-on 0.5s forwards;
  animation-timing-function: cubic-bezier(.34,.09,.23,1.06)
}

.toggle-off {
  animation: edit-menu-toggle-off 0.5s forwards;
  animation-timing-function: cubic-bezier(.34,.09,.23,1.06)
}

button {
  padding: 1rem 0.8rem;
  border-radius: 50px;
  border: 0.15rem solid var(--txt-clr);
  width: 50vw;
  font-weight: bold;
  background: var(--bg-clr);
}

@keyframes edit-menu-toggle-on {
  from {
    transform: translateY(50vh);
  }

  to {
    transform: translateY(0vh);
  }
}

@keyframes edit-menu-toggle-off {
  from {
    transform: translateY(0vh);
  }

  to {
    transform: translateY(51vh);
  }
}
