.edit-menu {
    position: absolute;
    bottom: 0;
    background: whitesmoke;
    width: 100vw;
    height: 50vh;


    border-top-left-radius: 32px;
    border-top-right-radius: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;

    outline: 2px solid black;

    animation: edit-menu-toggle 1s;

    display: none;


}


button {
    padding: 1rem 0.8rem;
    border-radius: 50px;
    border: 2px solid black;
    width: 50vw;
    font-weight: bold;
    background: var(--bg-clr);
}

@keyframes edit-menu-toggle {
    from {
        transform: translateY(50vh);
    }

    to {
        transform: translateY(0vh);
    }
}