#container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

#container .screen {
  padding-top: 1rem;
  background: inherit;
  height: 80vh;
  min-width: 100vw;
  /* outline: 5px solid rgb(0, 0, 0); */

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
  padding-bottom: 4rem;

  scroll-behavior: smooth;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
