#container {
  display: flex;
  overflow-x: scroll;
}

#container .screen {
  padding-top: 2rem;
  background: inherit;
  height: 85vh;
  min-width: 100vw;
  outline: 5px solid rgb(0, 0, 0);

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
  padding-bottom: 4rem;
}
