.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  min-height: 5rem;
  position: relative;
  transform: translateX(-0.4rem);

  margin-bottom: 3rem;
}

.screen .card-container:last-child {
  margin-bottom: 0;
}

.card-container .card-foreground {
  position: relative;
  background: var(--bg-clr);
  z-index: 1;
  height: 100%;
  width: 100%;
  border-radius: 15px;

  border: 2px solid var(--txt-clr);
}

.card-container .card-foreground h1 {
  font-size: 2.5rem;
}

.card-container .card-foreground .subject-card-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.card-container .card-foreground .subject-card-time-wrapper {
  position: absolute;
  bottom: 0.2rem;
  right: 1rem;
}

.card-container .card-foreground span {
  font-size: 0.7rem;
  font-weight: 700;
}

.card-container .card-background {
  position: absolute;
  background: var(--card-clr);
  height: 100%;
  width: 100%;
  border-radius: 15px;
  transform: translate(0.7rem, 0.5rem);
  border: 2px solid var(--txt-clr);
}

.break-container {
  color: white;
  background-color: var(--txt-clr);
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  padding: 0.25rem 2.5rem;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: visible;
  position: absolute;
  /* border-top-left-radius: inherit;
  border-bottom-left-radius: inherit; */
  border-radius: inherit;
  z-index: -1;

  height: 100%;
  width: 100%;
}

#active-card {
  background: var(--highlight-clr);
  animation: progress-bar var(--pb-animation-duration) forwards;
}

@keyframes progress-bar {
  from {
    width: var(--start-width);
  }

  to {
    width: 100%;
  }
}